<script>
    $("#searchQuery").keyup(function(event){
        if(event.keyCode == 13){
            $("#trigger").click();
        }
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                </div>
                <button style="display: none !important;" id="trigger" class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Space</span>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="space in spaces track by space.id">
            <div class="thumbnail material">
                <a ui-sref="space.detail({id:space.id})">

                    <img data-ng-src="{{'data:' + space.imgContentType + ';base64,' + space.img}}" style="height: 200px;" ng-if="space.img"/>
                    </a>

                    <paper-fab icon="favorite" style="float: right; top: -30px; right: 18px;"></paper-fab>
                <a ui-sref="space.detail({id:space.id})">
                <div class="caption">
                        <h3>{{space.name}}</h3>
                        <p style="color: rgba(0,0,0,0.54)">{{space.description}}</p>
                        <p style="color: #43DBB9; text-align: right; font-size: 24px;font-weight: 600;">{{space.price}} €</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
